name: Debricked SCA

on: [push]

jobs:
  debricked:
    runs-on: ubuntu-latest

    container:
      image: debricked/cli:latest-resolution-debian

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        
      - name: Fingerprint files
        run: |
          debricked callgraph
          debricked fingerprint
          
      - name: Run Scan
        run: |
          debricked scan
        env:
          DEBRICKED_TOKEN: ${{ secrets.DEBRICKED_TOKEN }}
